*{
    font-family: "Comfortaa", cursive;
}

html{
    scroll-behavior: smooth;
}

body{
    background-size:cover;
    background-position: contain;
}

.heading{
    width: 100%;
    margin: 0px;
    font-size: 23px;
    font-variant: small-caps;
    letter-spacing: 4px;
    background-color: lightseagreen;
}

.heading:hover{
    background-color: lightseagreen;
}

#note{
    color: black;
    font-size: 15px;
    letter-spacing: normal;
    font-variant: normal;
}

#m_topic{
    font-size: 18px;
    letter-spacing: normal;
    font-family: "Macondo", cursive;
}

#title{
    font-size: 40px;
    font-family: "Tapestry", cursive;
}

.copy_right_footer{
    position:fixed;
    color: white;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    line-height: 3;
    overflow: hidden;
    font-size: medium;
    font-family: "Water Brush", cursive;
    word-spacing: 15px;
    letter-spacing: 1.5px;
    margin-top: 5px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
}

.div_topic{
    left: 0;
    margin: 5px;
}